<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
        <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        
               <img src="/images/images/logo-mercado-liebre.svg" class="logo_img"></a>
            
            <p class="quota"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </div>
            <ul id="top-list">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Crea tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li><a href="#">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
    </header>
        <div>
            <img src="/images/images/img-home-banner.jpg" width="100%"  alt="img-home-banner">
        </div>
        <ul>
          <li><h2> Ofertas</h2></li></ul>
                    <img src="/images/images/img-cafetera-moulinex.jpg" width="100%" alt="cafetera">
                    <p>$6.770</p>
                    <p>40% off</p>
                    <h3>Cafetera Moulinex</h3>

                    <img src="/images/images/img-macbook-pro-2019.jpg" width="100%" alt="imagen de MacBook">
                    <p>$230.000</p>
                    <p>20% off</p>
                    <h3>macbook pro 2019</h3>
                <article class="card">
                    <img src="/images/images/img-samsung-galaxy-s10.jpg" width="100%" alt="imagen del Samsung Galxy">
                    <p>$70.500</p>
                    <p>10% off</p>
                    <h3>samsung galaxy s10</h3>
                <article class="card">
                    <img src="/images/images/img-tv-samsung-smart.jpg" width="100%" alt="imagen del SmartTv">
                    <p>$23.200</p>
                    <p>5% off</p>
                    <h3>SmartTv Samsung 43"</h3>
                    <ul>
                      <li><h2> Basado en tu última visita</h2></li></ul>
                                <img src="/images/images/img-cafetera-moulinex.jpg" width="100%" alt="cafetera">
                                <p>$6.770</p>
                                <p>40% off</p>
                                <h3>Cafetera Moulinex</h3>
            
                                <img src="/images/images/img-macbook-pro-2019.jpg" width="100%" alt="imagen de MacBook">
                                <p>$230.000</p>
                                <p>20% off</p>
                                <h3>macbook pro 2019</h3>
                            <article class="card">
                                <img src="/images/images/img-samsung-galaxy-s10.jpg" width="100%" alt="imagen del Samsung Galxy">
                                <p>$70.500</p>
                                <p>10% off</p>
                                <h3>samsung galaxy s10</h3>
                            <article class="card">
                                <img src="/images/images/img-tv-samsung-smart.jpg" width="100%" alt="imagen del SmartTv">
                                <p>$23.200</p>
                                <p>5% off</p>
                                <h3>SmartTv Samsung 43"</h3>
    
                                <footer>
                                    <div class="div-article-footer">
                                        <article class="footer-article">
                                            <i class="fas fa-credit-card"></i>
                                            <h5>Pagá con tarjeta o en efectivo</h5>
                                            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                                        </article>
                                        <article class="footer-article">
                                            <i class="fas fa-gift"></i>
                                            <h5>Envío gratis desde $ 2.500</h5>
                                            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                                        </article>
                                        <article class="footer-article">
                                            <i class="fas fa-user-shield"></i>
                                            <h5>Seguridad, de principio a fin</h5>
                                            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                                        </article>
</body>
</html>